@import url('./font.css');
@import url('./reset.css');

.wrapper{
    min-width:1300px;
    overflow-x: hidden;
}
.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
}

/********************** 텍스트 색상 컨트롤 **********************/
body{
    min-width:1300px;
    background: #fff;
    color: #000;
    transition:all 0.4s;
}
body .logo path{
    fill:#000;
    transition: 0.4s;
}
body #languageBtn path{
    stroke:#000;
    transition: 0.4s;
}

body.dark{
    background: #000;
    color: #fff;
}
body.dark .logo  path{
    fill:#fff;
    transition: 0.4s;
}
body.dark #languageBtn path{
    stroke:#fff;
    transition: 0.4s;
}




/********************** header **********************/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; left: 0;
    z-index: 10;
    width: 100%;
    min-width:600px;
    opacity:0;
    transform:translateY(-100%);
    transition: all 0.3s;
    padding: 17px 100px;
}
.header.fixed{ transform:translate(0); opacity:1; }

.header .logo a{
    display: block;
    width: 100px;
}

.header .col-right{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 7px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

.header .lang-area{
    margin-top: -5px;
}
.header #languageBtn{
    display: flex; 
    gap: 5px;
    line-height: 15px;
    align-items: end;
}
.header .lang-area .sub{
    display: none;
}

/********************** top-btn **********************/
main{ position: relative; }

#topBtn{
    opacity:0;
    transition:all 0.3s
}
#topBtn.on{
    opacity:1;
}
#topBtn.on2{
    opacity: 1;
}
#topBtn a{
    position: fixed;
    bottom: 40px; right: 100px;
    width: 50px;
    height: 50px;
    background: #000 url(../images/top-btn.svg) no-repeat center;
}
#topBtn .fixed{
    position: absolute;
    right: 100px; bottom:100px;
}
#topBtn.hide{
    opacity: 0;
}


/********************** footer **********************/
.footer {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 55px 100px;
    background: #000;
    color: #fff;
}

.footer .logo-area h2{
    width: 193px;
    height: 42px;
    background: url(../images/ft-logo-hori.png) no-repeat center / 193px auto;
}

.footer .addr-area{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
}
/********************** 공통 부분 **********************/
.bg-area {
    position: absolute;
    top: 0; left: 0;
    z-index:-1;
    width: 100%;
    overflow: hidden;
}
.text-area{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.text-bg{
    position: absolute;
    z-index: -1;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
}

.sc-text1 .text-area{
    padding: 0 100px;
}
.sc-text1 .title{
    align-self: start;
    width: 50%;
    font-size: 72px;
    line-height: 90px;
    font-weight: bold;
    word-break: keep-all;
}
.sc-text1 .desc{
    align-self: end;
    width: 50%;
    padding-left: 100px;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    word-break: keep-all;
}
@media(max-width:1630px){
    .sc-text1 .desc br{
        display: none;
    }
}
@media(max-width:1480px){
    .sc-text1 .title{
        font-size: 55px;
        line-height: 75px;
    }
    .sc-text1 .desc{
        font-size: 18px;
        line-height: 32px;
    }
}


.sc-text2{
    position: relative;
    height: 75vh;
}
.sc-text2 .bg-area{
    height: 100%;
}
.sc-text2 .bg-area .top-right-box{
    position: absolute;
    top: 0;right: 0;
    width: 400px;
    height: 150px;
    background: #fff;
}
.sc-text2 .bg-area .bottom-left-box{
    position: absolute;
    bottom: 0; left: 0;
    width: 400px;
    height: 150px;
    background: #fff;
}
.sc-text2 .text-area{
    position: relative;
    z-index:1;
    height: 100%;
    font-size: 73px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
}
.sc-text2 .text-area span{
    display: block;
}
@media(max-width:1630px){
    .sc-text2 .text-area{
        font-size: 55px;
    }
}


.sc-card .group-hori{
    display: flex;
    align-items: center;
    width: auto;
    height: 100vh;
    padding-left: 100px;
}
.sc-card .title-area{
    font-size: 73px;
    font-weight: bold;
    line-height: 90px;
    margin-right: 120px;
}
.sc-card .desc-area{
    padding-left: 170px;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
}
.sc-card .card-item{ 
    color: #fff;
    border: 0;
}
.sc-card .card-item .middle-area{
    margin-bottom:auto;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

/********************** card **********************/
.card-list{
    display: flex;
}
.card-list li{
    width: 400px;
    height: 540px;
    margin-left: 40px;
    padding: 40px 35px;
    border-radius: 20px;
    background: #000;
}
.card-item{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #fff;
}
.card-item .bg{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
.card-item .bg.blur{
    transform: scale(1.2);
    filter:blur(40px);
}
.card-item .top-area{
    position: relative;
    height: 100px;
}
.card-item .top-area .title{
    font-size: 50px;
    font-weight: 600;
}
.card-item .top-area .right{
    position: absolute;
    top: 0;right: 0;
    font-size: 30px;
    font-family: sans-serif;
}
.card-item .middle-area .code{
    width: 280px;
}
.card-item .bottom-area{
    position: relative;
}
.card-item .bottom-area .info{
    font-size: 24px;
    font-weight: bold;
}
.card-item .bottom-area .ic-contract{
    position: absolute;
    bottom: 0;right: 0;
    width: 40px;
}
.card-item .bottom-area .color{
    position: absolute;
    bottom: 0;left: 0;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.card-item .bottom-area .user-id{
    position: absolute;
    bottom: 10px; left: 45px;
    font-weight: bold;
}
